fastapi
uvicorn
python-dotenv
openai
pydantic
pillow
pyautogui
requests==2.31.0
google-auth-oauthlib
google-api-python-client
slack-sdk
-e ../../libs/hyperpocket  # Install the root project (hyperpocket) in edita