name: Build and Deploy Docs

on:
  push:
    branches:
      - moon/test/deploy-docs

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Repository Checkout
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # 3. Install Dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/hyperpocket/requirements.txt

      # 4. Build Documentation
      - name: Build Sphinx Documentation
        working-directory: docs/hyperpocket
        run: |
          git checkout main
          
          make clean
          make html

      # 5. Deploy to gh-pages
      - name: Deploy to GitHub Pages
        run: |
          ls -al
          
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          git checkout gh-pages
          cp -r docs/hyperpocket/_build/html/* .
          
          git add .
          if ! git diff-index --quiet HEAD --; then
            git commit -m "update"
            git push --force origin gh-pages
          else
            echo "No changes to commit. Skipping push."
          fi